.side-bar-product {
    flex-grow: 1;

}
.side-item {
    display: flex;
    align-items: center;
}

.side-item:hover {
    border: 1px solid #999999;
}

.side-item:active {
    border: 1px solid #ff5252;
}

.product {
    flex-grow: 2;
    display: flex
}

.listing{
    display: flex;
}